/* line-height centering solution comes from https://stackoverflow.com/questions/8865458/how-do-i-vertically-center-text-with-css */

/* Color palette from https://coolors.co/ */

/* width: calc(); solution from http://nimbupani.com/using-decimal-percentage-values-in-responsive-design.html */

#div-a {
  grid-column: span 2;
  line-height: 75px;
  background-color: #00FF66;
}

#div-b {
  grid-column: span 2;
  line-height: 150px;
  background-color: #EFFFA0;
}

#div-c {
  background-color: #00FFFF;
}

#div-d {
  background-color: #0093F2;
}

#div-e {
  background-color: #62a5bb;
}

#div-f {
  background-color: #00FF66;
}

#div-g {
  background-color: #EFFFA0;
}

#div-h {
  background-color: #00FFFF;
}

#div-i {
  grid-column: span 2;
  line-height: 80px;
  background-color: #0093F2;
}

@media only screen and (min-width: 768px) {

  #div-a {
    grid-column: span 5;
    line-height: 100px;
  }
  
  #div-b {
    grid-column: span 1;
    grid-row: span 3;
    line-height: 600px;
  }

  #div-i {
    grid-column: span 4;
    line-height: 150px;
  }
}