.div-class-1 * {
  height: 123px;
  line-height: 123px;
}

.div-class-2 * {
  width: 238px;
  height: 248px;
  line-height: 248px;
  float: left;
}

@media only screen and (min-width: 768px) {

  .div-class-1 * {
    width: 378px;
    height: 198px;
    line-height: 198px;
    float: left;
  }

  .div-class-2 {
    clear: right;
    float: left;
  }
  
  .div-class-2 * {
    width: 188px;
    height: 248px;
    line-height: 248px;
    float: left;
  }
}