.div-class-1 {
  grid-column: span 2;
  line-height: 125px;
}

.div-class-2 {
  grid-column: span 1;
  line-height: 250px;
}

@media only screen and (min-width: 768px) {

  .div-class-1 {
    line-height: 200px;
  }

  .div-class-2 {
    line-height: 250px;
  }
}